{% load i18n %}
{% autoescape off %}
Hi {{ user.username }},
Please click on the link to confirm your registration,

 <p><a href="https://{{ domain }}/{{ uid }}/{{ token }}/"> Activate your account </a></p>
{% endautoescape %}
