<!DOCTYPE html>
<html>
<head>
	<title>Password resete complete</title>
	{% load bootstrap4 %}
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="alert alert-success" role="alert">
  				<h4 class="alert-heading">Well done!</h4>
  				<h5>Password reset complete</h5>
 					 <p>Your new password has been set. You can log when press this button <a type="button" class="btn btn-success" href="{% url 'sign_in' %}">Login page</a></p>
 					 <hr>
 					 <p class="mb-0">We hope you will be more concentrated </p>
			</div>
		</div>
	</div>
</body>
</html>