<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'global_assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{% static 'global_assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script src="{% static 'global_assets/js/core/libraries/jquery.min.js' %}"></script>
	<script src="{% static 'global_assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>

	<script src="{% static 'assets/js/app.js' %}"></script>
	<script src="{% static 'global_assets/js/demo_pages/login.js' %}"></script>
	<!-- /theme JS files -->

</head>

<body class="navbar-bottom login-container">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html"><img src="{% static '' %}" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">
						<i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> Go to website</span>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Contact admin</span>
					</a>
				</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-cog3"></i>
						<span class="visible-xs-inline-block position-right"> Options</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Advanced login -->
				<form action="" method="post">
					<div class="panel panel-body login-form">
						<div class="text-center">
							<div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
							<h5 class="content-group">Create account <small class="display-block">All fields are required</small></h5>
						</div>

						<div class="content-divider text-muted form-group"><span>Your credentials</span></div>

						<div class="form-group has-feedback has-feedback-left">
							{% csrf_token %} 

							{{ form.username }}
							<div class="form-control-feedback">
								<i class="icon-user-check text-muted"></i>
							</div>
						</div>

						<div class="form-group has-feedback has-feedback-left">
							{{ form.password1 }}
							<div class="form-control-feedback">
								<i class="icon-user-lock text-muted"></i>
							</div>
						</div>

						<div class="form-group has-feedback has-feedback-left">
							{{ form.password2 }}
							<div class="form-control-feedback">
								<i class="icon-user-lock text-muted"></i>
							</div>
						</div>


						<div class="content-divider text-muted form-group"><span>Your privacy</span></div>

						<div class="form-group has-feedback has-feedback-left">
							{{ form.email }}
							<div class="form-control-feedback">
								<i class="icon-mention text-muted"></i>
							</div>
						</div>

						
						{% if form.errors %}
							<div class="alert alert-primary" role="alert">
								<style type="text/css">
									ul {
										margin-top: 5px;
										list-style: none;
										padding-left: 1em;	
									}
								</style>
 								 <span href="" class="alert-link">This email does not exist</span> 
							</div>
    					{% endif %}

						{% if form.username.errors %}
							<div class="alert alert-primary" role="alert">
								<style type="text/css">
									ul {
										list-style: none;
										padding-left: 1em;	
									}
								</style>
 								 <span href="" class="alert-link">{{ form.username.errors }}</span> 
							</div>
    					{% endif %}

    					{% if form.password2.errors %}
							<div class="alert alert-primary" role="alert">
								<style type="text/css">
									ul {
										list-style: none;
										padding-left: 1em;	
									}
								</style>
 								 <span href="" class="alert-link">{{ form.password2.errors }}</span> 
							</div>
    					{% endif %}

						<div class="content-divider text-muted form-group"><span>Additions</span></div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" class="styled" checked="checked">
									Send me <a href="#">test account settings</a>
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input type="checkbox" class="styled" checked="checked">
									Subscribe to monthly newsletter
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input type="checkbox" class="styled">
									Accept <a href="#">terms of service</a>
								</label>
							</div>
						</div>

						<button type="submit" class="btn bg-teal btn-block btn-lg">Register <i class="icon-circle-right2 position-right"></i></button>
					</div>
				</form>
				<!-- /advanced login -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->


	<!-- Footer -->
	<div class="navbar navbar-default navbar-fixed-bottom footer">
		<ul class="nav navbar-nav visible-xs-block">
			<li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
		</ul>

		<div class="navbar-collapse collapse" id="footer">
			<div class="navbar-text">
				&copy; 2015. <a href="#" class="navbar-link">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" class="navbar-link" target="_blank">Eugene Kopyov</a>
			</div>

			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /footer -->

</body>
</html>
